.dashboard-element {
/*display: inline-block;
overflow: auto;
padding-left: 2px;
padding-left: 2px;*/
}

.dashboard-element .panel-body
{
	/*min-height:200px;*/
}


@media (max-width:992px){
	.dashboard-element {
		padding:0px !important;
	}
	
}